.container{
    background-color: $color-white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.2rem rgba($color-black, .3);
    width: 40rem;
}

.form{
    padding: 3rem 4rem;
    h2{
        text-align: center;
        margin: 0 0 2rem;
        font-size: calc(2rem + 1vw);
    }
    &__control{
        margin-bottom: 1rem;
        padding-bottom: 2rem;
        position: relative;
    }
    button{
        background-color: $color-blue;
        cursor: pointer;
        color: $color-white;
        border: 2px solid $color-blue;
        border-radius: .5rem;
        display: block;
        width: 100%;
        font-size: 1.6rem;
        padding: 1rem;
        margin-top: 2rem;
        letter-spacing: .8px;
        outline: none;
        transition: transform .8s;
        &:hover{
            transform: translateY(-2px);
        }
        &:active{
            transform: translateY(5px);
        }
    }
}